body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'Diatype', sans-serif; /* Применение шрифта Diatype */
    overflow: hidden; /* Отключаем прокрутку */
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-image: url(img/aurpreg.jpeg);
    background-size: cover;
    background-position: center;
    filter: url(#turbulence); /* Применяем фильтр только к фону */
    z-index: 0; /* Фон позади текста */
}

.tradingview-widget-container {
    position: absolute;
    top: 50%; /* Центрируем по вертикали */
    left: 50%; /* Центрируем по горизонтали */
    transform: translate(-50%, -50%); /* Совсем точно по центру */
    z-index: 1; /* Виджет поверх фона */
}

.time-text {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
    color: white;
}
